
.OptionImageContainer {
    width: 50px; 
    height: 50px;
    margin-right: 10px; /* add spacing between the image and text */
  }
  
  .OptionImage {
    width: 100%;
    height: 100%;
  }
  
  .OptionTitle {
    color: #ffffff; 
    font-weight: bold;
    text-align: left;
  }
  
  .OptionArtist {
    font-size: 14px;
    color: #ffffff;
    text-align: left;
  }
  
  .DropdownOption {
    display: flex;
    align-items: center;
    padding: 6px;
    border: 1px solid rgb(255, 255, 255);
  }