.searchInput {
    width: 700px;
    height: 30px;
    flex-direction: column;
    margin-bottom: 10px;
    border: 1px solid rgb(0, 0, 0);

}

.SearchContainer {
  width: 800px;
  /* center search box */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SongsBox {
  width: 800px;
  height: 500px;
  overflow-y: scroll; /* add scroll bar */ 
  background-color:   rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}

.searchButton {
  width: 92px;
  height: 34px;
  color: #ffffff; 
  background-color: rgb(76, 13, 44);
  border: 1px solid rgb(0, 0, 0);

}
