/* App.css */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #fdf7f7;
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  text-align: center;
  background-image: url(spotify.png);
  background-color: #000000;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 50px;
  color: rgb(0, 0, 0);
  text-align: center;
}
.LoginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logInButton {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid rgb(255, 255, 255);
}

.logOut {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  text-decoration: none;
}
